<button style="top: {{impression.impression.y}}%; left: {{impression.impression.x}}%" 
  class="white circular-icon gray-border is-absolute z-index-10"
  ng-class="{'background-red': myImpression}">
  <md-tooltip>
    {{impression.user._id == currentUserId ? 'Me': impression.user.name }}
  </md-tooltip>
</button>
