.height-100 {
  height: 100%;
}
.height-70 {
  height: 70%;
}
.width-100 {
  width: 100%;
}
.is-absolute {
  position: absolute;
}
.is-relative {
  position: relative;
}
.is-fixed {
  position: fixed;
}
.top-35 {
  top: 35%;
}
.bottom-0 {
  bottom: 0px;
}
.bottom-right-corner {
  bottom: 0px;
  right: 0px;
}
.display-flex {
  display: flex;
}
.background-red {
  background: red !important;
}
.white {
  background: #fff;
}
.background-tr-white {
  background: rgba(255, 255, 255, 0.66);
}
.circular {
  border-radius: 99%;
}
.width-100px {
  width: 100Px;
}
.circular-icon {
  border-radius: 99%;
  width: 30px;
  height: 30px;
  min-height: 0;
  min-width: 0;
  line-height: inherit;
}
.circular-icon.gray-border {
  border: 1px solid #ddd;
}
.mrr-0 {
  margin-right: 0px !important;
}
.mrl-0 {
  margin-left: 0px !important;
}
.mrb-0 {
  margin-bottom: 0px !important;
}
.mrt-0 {
  margin-top: 0px !important;
}
.mrt-20 {
  margin-top: 20px !important;
}
.mrlr-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.capitalize {
  text-transform: capitalize;
}
.margin-15 {
  margin: 15px !important;
}
.dashed-border {
  border: rgba(0, 0, 0, 0.37) 5px dashed;
}
.cursor-pointer {
  cursor: pointer;
}
.font-16 {
  font-size: 16x !important;
}
.font-20 {
  font-size: 20px !important;
}
.pdt-20 {
  padding-top: 20px;
}
.z-index-10 {
  z-index: 10;
}
.min-width-30 {
  min-width: 30px !important;
}
.border-right-radius-0 {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.border-left-radius-0 {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
