<md-dialog>
  <md-dialog-content layout-padding>
    <md-content layout-padding>
      <md-progress-circular md-mode="indeterminate" md-diameter="200"></md-progress-circular>
    </md-content>
  </md-dialog-content>
</md-dialog>

