<md-sidenav class="md-whiteframe-z2 flex mrt-20" 
  md-disable-backdrop md-is-locked-open="true" md-component-id="right" layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        Live Polling
      </h2>
    </div>
  </md-toolbar>
  <md-content layout="column" layout-align="start center" 
    flex="grow" class="md-padding">
    <div ng-if="poll.impressions && poll.impressions.length > 1">
      <h3>Total opinions: {{poll.impressions.length}}</h3>
      <div layout="row" layout-align="start"
        ng-if="poll.impressions && poll.impressions.length > 1">
        <md-button ng-disabled="region" class="capitalize md-primary md-raised mrl-0 mrr-0 border-right-radius-0"
          ng-click="markBiggestCluster()">
          Majority Opinion
        </md-button>
        <md-button ng-if="region" ng-click="removeRegion()"
          class="capitalize md-primary md-raised mrl-0 min-width-30 border-left-radius-0">
          <span class="fa fa-times"></span>
        </md-button>
      </div>
    </div>
    <div ng-if="!poll.impressions || poll.impressions.length <= 1">
      No opinions recorded. Share URL with your firends and know their opinion.
    </div>
  </md-content>
</md-sidenav>
