<md-dialog flex="50" style="height: 500px">
  <md-dialog-content class="height-100" layout="column">
    <div ngf-drop="uploadFiles($files)"
      ngf-drag-over-class="dragOverClass($event)"
      class="margin-15 is-relative height-70"
      ng-class="{'min-height-200': $mdMedia('xs')}"
      style="background: url({{uploadedImage}}) no-repeat 50% 50%/cover padding-box border-box;">
      <div layout="row" layout-align="center center" class="height-100 dashed-border">
        <md-button class="md-accent md-raised" ngf-select="upload($files)">Upload</md-button>
      </div>
      <md-progress-linear class="md-warn is-absolute bottom-0" value="{{uploadProgress}}"></md-progress-linear>
    </div>
    <md-input-container class="mrb-0 mrt-0 mrlr-20">
      <label>Poll About</label>
      <input ng-model="question" md-maxlength="50" maxlength="50">
    </md-input-container>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="save()" ng-disabled="!uploadedImage || loading" class="md-primary md-raised">
      <span class="fa fa-spin fa-spinner" ng-if="loading"></span>
      Save
    </md-button>
    <md-button ng-click="cancel()" class="md-warn">Cancel</md-button>
  </md-dialog-actions>
</md-dialog>
