<md-toolbar>
  <div class="md-toolbar-tools">
    <div>Ask-Poll</div>
    <div flex></div>
    <div>
      {{currentUser.name}}
      <span ng-click="changeName()" class="fa fa-pencil cursor-pointer"></span>
    </div>
  </div>
</md-toolbar>
<div layout="row" layout-wrap>
  <vm-poll-item ng-repeat="poll in polls">
  </vm-poll-item>
  <div ng-if="polls.length == 0" class="md-padding font-20" flex layout="row" layout-align="center">
    No polls uploaded, upload and know your friends' opinion.
  </div>
</div>
<md-button ng-click="uploadPoll()" class="md-fab is-fixed bottom-right-corner">
  <span class="fa fa-upload font-20"></span>
</md-button>
