<md-dialog>
  <md-dialog-content>
    <form ng-submit="save()">
      <div class="md-dialog-content">
        <md-input-container class="mrlr-20">
          <label>Nick name:</label>
          <input ng-model="name" md-maxlength="10" maxlength="10">
        </md-input-container>
      </div>
    </form>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="save()" ng-disabled="!name" class="md-primary md-raised">Save</md-button>
  </md-dialog-actions>
</md-dialog>
