<md-card class="padding-0 cursor-pointer" 
  flex-xs="100" flex-sm="50" flex-md="33" flex="25" flex-gt-lg="20">
  <md-card-header>
    <md-card-header-text>
      <span class="md-title truncate">
        <span flex="" class="truncate ng-binding flex">{{poll.question}}</span>
      </span>
    </md-card-header-text>
  </md-card-header>  
  <cl-image public-id="{{poll.url}}" cloud-name="middle-maan">
    <cl-transformation crop="fill" height="400" width="500"></cl-transformation>
  </cl-image>
</md-card>
