<md-content layout="column" flex>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <div>Ask-Poll - {{poll.question}}</div>
      <div flex></div>
      <div>
        {{currentUser.name}}
        <span ng-click="changeName()" class="fa fa-pencil cursor-pointer"></span>
      </div>
    </div>
  </md-toolbar>
  <md-content layout="row" layout-xs="column" flex>
    <md-content flex layout="row" layout-align="center">
      <div class="is-relative display-flex" id="image-container">
        <cl-image public-id="{{poll.url}}" cloud-name="middle-maan">
        </cl-image>
        <vm-poll-indicator ng-repeat="impression in poll.impressions">
        </vm-poll-indicator>
        <div ng-if="region" class="is-absolute background-tr-white circular" style="width: {{region.diameter}}px; height: {{region.diameter}}px;
        top: {{region.center.y}}%; left: {{region.center.x}}%;">
        </div>
      </div>
    </md-content>
    <vm-poll-sidebar hide-xs layout="row" flex="20" flex-xs="100">
    </vm-poll-sidebar>
  </md-content>
</md-content>
